<!DOCTYPE html>
<html>
<title>Práctica #1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{{url_for('static', filename='./js/infoHiloSrvrSec1.js')}}"></script>
<head>
</head>


<body style="background-image: url({{ url_for('static', filename='img/background1.png') }})">

<div class="w3-container">
  <h2>Práctica 2</h2>

  <div class="w3-card-4 w3-display-middle" style="width:40%">
    <header class="w3-container w3-blue">
        <h1>Relojes distantes - Servidor Secundario 1</h1>
    </header>
    <!--img src="img_snowtops.jpg" alt="Alps" style="width:100%"-->
    <div class="w3-container w3-white">
        <div class="w3-row">
        
            <div class="w3-col s12 w3-center">
                <h3 id="reloj1"></h3>
            </div>
                        
        </div>     
    </div>

  </div>
</div>

</body>
</html>



