<!DOCTYPE html>
<html>
<title>Proyecto Final</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if servidor == 1 %}
    <script src="{{url_for('static', filename='./js/infoHiloMaestro.js')}}"></script>
{% elif servidor == 2 %}
    <script src="{{url_for('static', filename='./js/infoHiloMaestro2.js')}}"></script>
{% else %}
    <script src="{{url_for('static', filename='./js/infoHiloMaestro3.js')}}"></script>
{% endif %}
<head>
</head>


<body style="background-image: url({{ url_for('static', filename='img/background1.png') }})">

<div class="w3-container">
  <h2>Proyecto - Tercer periodo</h2>

  <div class="w3-card-4 w3-display-topmiddle" style="width:40%; top:70px;">
    <header class="w3-container w3-blue w3-center">
        <h1>Servidor coordinador {{servidor}}</h1>
    </header>
    <!--img src="img_snowtops.jpg" alt="Alps" style="width:100%"-->
    <div class="w3-container w3-white">
        <div class="w3-row">
        
            <div class="w3-col s12 w3-center">
                <h3 id="reloj1"></h3>
            </div>
            <div class="w3-col s4 w3-button w3-center" id="edit1">
                <h4><i class="material-icons">edit</i></h4>
            </div>
            <div class="w3-col s4 w3-button w3-center" id="add1" onclick="add1()">
                <h4><i class="material-icons">fast_forward</i></h4>
            </div>
            <div class="w3-col s4 w3-button w3-center" id="subs1" onclick="sub1()">
                <h4><i class="material-icons">fast_rewind</i></h4>
            </div>

        </div>     
    </div>

  </div>

  <table class="w3-table-all w3-centered" style="width: 30%; margin-left:35%; margin-top: 60%;">
		<tr>
			<th colspan="2">Frecuencias de números enviados</th>
		</tr>
		<tr class="w3-purple">
		  <th >Número</th>
		  <th >Ocurrencia</th>
		</tr>
		{% for a in range(30) %}
			<tr class="w3-hover-blue">
				<td>{{a+1}}</td>
				<td id="n_{{a+1}}"> - </td>
			</tr>
		{% endfor %}
  </table>

</div>

</body>
</html>



