<!DOCTYPE html>
<html>
<title>Práctica #1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='./js/infoHilos.js')}}"></script>
<head>
<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  //reloj1
  /*document.getElementById('reloj1').innerHTML =
  h + ":" + m + ":" + s;*/

  //reloj2
  /*document.getElementById('reloj2').innerHTML =
  h+1 + ":" + m + ":" + s;  */
  
  //reloj3
  /*document.getElementById('reloj3').innerHTML =
  h+2 + ":" + m + ":" + s;  */
  
  //reloj4
  /*document.getElementById('reloj4').innerHTML =
  h + ":" + m + ":" + s;  */
  
  //
  var t = setTimeout(startTime, 500);
}





function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}





</script>
</head>


<body onload="startTime()" style="background-image: url({{ url_for('static', filename='img/background1.png') }})">

<div class="w3-container">
  <h2>Práctica 1</h2>

  <div class="w3-card-4 w3-display-middle" style="width:50%">
    <header class="w3-container w3-blue">
        <h1>Relojes no sincronizados</h1>
    </header>
    <!--img src="img_snowtops.jpg" alt="Alps" style="width:100%"-->
    <div class="w3-container w3-white">
        <div class="w3-row">
            <div class="w3-col s4 w3-center">
                <h3 id="reloj1"></h3>
            </div>
            <div class="w3-col s2 w3-button w3-center" id="edit1">
                <h4>edit</h4>
            </div>
            <div class="w3-col s4 w3-center">
                <h3 id="reloj2"></h3>
            </div>
            <div class="w3-col s2 w3-button w3-center" id="edit2">
                <h4>edit</h4>
            </div>
        </div>
        <br/>
        <div class="w3-row">
            <div class="w3-col s4 w3-center">
                <h3 id="reloj3"></h3>
            </div>
            <div class="w3-col s2 w3-button w3-center" id="edit3">
                <h4>edit</h4>
            </div>
            <div class="w3-col s4 w3-center">
                <h3 id="reloj4"></h3>
            </div>
            <div class="w3-col s2 w3-button w3-center" id="edit4">
                <h4>edit</h4>
            </div>
        </div>     
    </div>

  </div>
</div>

</body>
</html>



